.toast {
  position: fixed;
  bottom: 30px; /* Adjust this to control the vertical position */
  left: 20%;
  transform: translateX(-50%);
  z-index: 9999; /* Ensure it's above other elements */
  color: #fff; /* Text color */
  padding: 10px 20px;
  border-radius: 4px;
  width: 300px; /* Adjust the width as needed */
  text-align: center;
}

.addCourseContainer {
  display: flex;
  justify-content: center;
}

.addCoursecard {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
  margin: 2rem;
}

.textfieldAdd {
  width: 90%;
}
