.courseCardContainer {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  background-color: #e4e4e4;
}

.description {
  max-height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
}
