.updateCard {
  width: 35vw;
}

.getCourseContainer {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

.getCard {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
  width: 100%;
}
.cContent {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
}
